<!DOCTYPE html>
<html>
<head>
  <title>Simpledocupload</title>
  <%= stylesheet_link_tag    "simpledocupload/application", media: "all" %>
  <%= javascript_include_tag "simpledocupload/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    </br>
    <div class="container">
      <% unless flash.empty? %>
    	  <script type="text/javascript">
    	      <% flash.each do |f| %>
    	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
    	     	 toastr['<%= type %>']('<%= f[1] %>');
    	      <% end %>
    	  </script>
    	 <% end %>
      <%= yield %>
    </div>
  </body>
</html>
